doc/node_red_insys_flow.json
[{"id":"4a28bba1f14596d0","type":"tab","label":"INSYS","disabled":false,"info":"","env":[]},{"id":"92426d39b95e9394","type":"json","z":"4a28bba1f14596d0","name":"JSON parser","property":"payload","action":"","pretty":false,"x":390,"y":380,"wires":[["32f3219d69399b08","c949d94b4af247f0","c9a3c45f1ac6dd35","8fb65c88a5a3c187","c2c8928999ef75d9","0e07bee4123b2883","b3c601c5852232ae","82871e1f407c42f8","eb242dc2e4b1b366","7e7a9263995694d8"]]},{"id":"17dea69fea3abfe9","type":"mqtt in","z":"4a28bba1f14596d0","name":"","topic":"insys/data","qos":"2","datatype":"auto","broker":"584ce65.9042018","nl":false,"rap":false,"inputs":0,"x":160,"y":320,"wires":[["92426d39b95e9394"]]},{"id":"32f3219d69399b08","type":"debug","z":"4a28bba1f14596d0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":300,"wires":[]},{"id":"c949d94b4af247f0","type":"change","z":"4a28bba1f14596d0","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["046403abd455b0d8"]]},{"id":"c9a3c45f1ac6dd35","type":"change","z":"4a28bba1f14596d0","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["6b13638892cac2bb"]]},{"id":"8fb65c88a5a3c187","type":"change","z":"4a28bba1f14596d0","name":"time","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["5b94933977bd50e6"]]},{"id":"c2c8928999ef75d9","type":"change","z":"4a28bba1f14596d0","name":"batteryLevel","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.batteryLevel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["c2863d5fe0eeaf6d"]]},{"id":"c2863d5fe0eeaf6d","type":"ui_chart","z":"4a28bba1f14596d0","name":"batteryLevel","group":"21969134.636e3e","order":3,"width":0,"height":0,"label":"battery level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":340,"wires":[[]]},{"id":"6b13638892cac2bb","type":"ui_chart","z":"4a28bba1f14596d0","name":"","group":"ffaf5c11.b22ea","order":2,"width":0,"height":0,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":870,"y":260,"wires":[[]]},{"id":"046403abd455b0d8","type":"ui_chart","z":"4a28bba1f14596d0","name":"","group":"ffaf5c11.b22ea","order":4,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":220,"wires":[[]]},{"id":"5b94933977bd50e6","type":"ui_text","z":"4a28bba1f14596d0","group":"21969134.636e3e","order":1,"width":0,"height":0,"name":"time","label":"Time of last measurement: ","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":300,"wires":[]},{"id":"6f41ac7ac10b1a9d","type":"ui_chart","z":"4a28bba1f14596d0","name":"numberOfParticlesChart","group":"a97384.42578c8","order":1,"width":0,"height":0,"label":"Number of particles chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":560,"wires":[[]]},{"id":"7e7a9263995694d8","type":"function","z":"4a28bba1f14596d0","name":"NumConverter","func":"var nc0p5 = {};\nnc0p5.payload = msg.payload.nc0p5;\nnc0p5.topic = \"nc0p5\";\n\nvar nc1p0 = {};\nnc1p0.payload = msg.payload.nc1p0;\nnc1p0.topic = \"nc1p0\";\n\nvar nc2p5 = {};\nnc2p5.payload = msg.payload.nc2p5;\nnc2p5.topic = \"nc2p5\";\n\nvar nc4p0 = {};\nnc4p0.payload = msg.payload.nc4p0;\nnc4p0.topic = \"nc4p0 \";\n\nvar nc10p0 = {};\nnc10p0.payload = msg.payload.nc10p0;\nnc10p0.topic = \"nc10p0\";\n\nvar partSize = {};\npartSize.payload = msg.payload.typicalParticleSize;\npartSize.topic = \"typicalParticleSize\";\n\nreturn [nc0p5, nc1p0, nc2p5, nc4p0, nc10p0, partSize];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":560,"wires":[["6f41ac7ac10b1a9d"],["6f41ac7ac10b1a9d"],["6f41ac7ac10b1a9d"],["6f41ac7ac10b1a9d"],["6f41ac7ac10b1a9d"],["6f41ac7ac10b1a9d"]]},{"id":"d4041cfc9db4205f","type":"ui_chart","z":"4a28bba1f14596d0","name":"massOfParticlesChart","group":"a97384.42578c8","order":3,"width":0,"height":0,"label":"Mass of particles chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":460,"wires":[[]]},{"id":"24c20f92809b953e","type":"debug","z":"4a28bba1f14596d0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"d5f7c9dae6ff7658","type":"mqtt in","z":"4a28bba1f14596d0","name":"","topic":"insys/report","qos":"2","datatype":"auto","broker":"584ce65.9042018","nl":false,"rap":false,"inputs":0,"x":170,"y":180,"wires":[["24c20f92809b953e"]]},{"id":"017b52aeab30c810","type":"ui_text","z":"4a28bba1f14596d0","group":"21969134.636e3e","order":2,"width":0,"height":0,"name":"","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":180,"wires":[]},{"id":"0e07bee4123b2883","type":"change","z":"4a28bba1f14596d0","name":"pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["017b52aeab30c810"]]},{"id":"b3c601c5852232ae","type":"change","z":"4a28bba1f14596d0","name":"gasResistance","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.gasResistance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":140,"wires":[["265cc73d35bf0cf8"]]},{"id":"265cc73d35bf0cf8","type":"ui_chart","z":"4a28bba1f14596d0","name":"gas","group":"ffaf5c11.b22ea","order":1,"width":0,"height":0,"label":"gas resistance:","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":140,"wires":[[]]},{"id":"ed97d970c9fc0cdd","type":"mqtt in","z":"4a28bba1f14596d0","name":"","topic":"insys/log","qos":"2","datatype":"auto","broker":"584ce65.9042018","nl":false,"rap":false,"inputs":0,"x":160,"y":240,"wires":[["886b031274b4b740"]]},{"id":"886b031274b4b740","type":"debug","z":"4a28bba1f14596d0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"eb242dc2e4b1b366","type":"function","z":"4a28bba1f14596d0","name":"MassConverter","func":"var mc1p0 = {};\nmc1p0.payload = msg.payload.nc0p5;\nmc1p0.topic = \"mc_1p0\";\n\nvar nc2p5 = {};\nnc2p5.payload = msg.payload.nc1p0;\nnc2p5.topic = \"mc_2p5\";\n\nvar mc4p0 = {};\nmc4p0.payload = msg.payload.mc4p0;\nmc4p0.topic = \"mc_4p0\";\n\nvar mc10p0 = {};\nmc10p0.payload = msg.payload.nc10p0;\nmc10p0.topic = \"mc_10p0 \";\n\nreturn [mc1p0, nc2p5, mc4p0, mc10p0];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[["d4041cfc9db4205f"],["d4041cfc9db4205f"],["d4041cfc9db4205f"],["d4041cfc9db4205f"]]},{"id":"82871e1f407c42f8","type":"change","z":"4a28bba1f14596d0","name":"voltageLevel","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["31849cdcc07dd1aa"]]},{"id":"31849cdcc07dd1aa","type":"ui_chart","z":"4a28bba1f14596d0","name":"voltageLevel","group":"21969134.636e3e","order":3,"width":0,"height":0,"label":"voltage level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":380,"wires":[[]]},{"id":"584ce65.9042018","type":"mqtt-broker","name":"test","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21969134.636e3e","type":"ui_group","name":"Other","tab":"b78cddc6.69ebc","order":1,"disp":true,"width":10,"collapse":false},{"id":"ffaf5c11.b22ea","type":"ui_group","name":"BME680","tab":"b78cddc6.69ebc","order":3,"disp":true,"width":"10","collapse":false},{"id":"a97384.42578c8","type":"ui_group","name":"SPS30","tab":"b78cddc6.69ebc","order":2,"disp":true,"width":10,"collapse":false},{"id":"b78cddc6.69ebc","type":"ui_tab","name":"test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]