doc/node_red_esp32_flow.json
[{"id":"171e2042.95bd2","type":"tab","label":"ESP32","disabled":false,"info":""},{"id":"bbade284.e598e8","type":"json","z":"171e2042.95bd2","name":"JSON parser","property":"payload","action":"","pretty":false,"x":470,"y":340,"wires":[["84854f72.df6d28","5229e3a7.4d14a4","89f20d48.807c98","8158485d.c406e8","5526a4cf.2d50ec","e3249599.e8cd48","8be6d004.359798","66ed7ec8.efc858","576ceff6.b8397"]]},{"id":"82d59720.ae93","type":"mqtt in","z":"171e2042.95bd2","name":"","topic":"esp32/data","qos":"2","datatype":"auto","broker":"584ce65.9042018","inputs":0,"x":240,"y":280,"wires":[["bbade284.e598e8"]]},{"id":"84854f72.df6d28","type":"debug","z":"171e2042.95bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"5229e3a7.4d14a4","type":"change","z":"171e2042.95bd2","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":180,"wires":[["85b33c67.de09a8"]]},{"id":"89f20d48.807c98","type":"change","z":"171e2042.95bd2","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[["57a53eb9.0ef2c8"]]},{"id":"8158485d.c406e8","type":"change","z":"171e2042.95bd2","name":"time","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":260,"wires":[["ca58edab.67b148"]]},{"id":"5526a4cf.2d50ec","type":"change","z":"171e2042.95bd2","name":"batteryLevel","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.batteryLevel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["5259264.43842d8"]]},{"id":"5259264.43842d8","type":"ui_chart","z":"171e2042.95bd2","name":"batteryLevel","group":"21969134.636e3e","order":3,"width":0,"height":0,"label":"battery level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":300,"wires":[[]]},{"id":"57a53eb9.0ef2c8","type":"ui_chart","z":"171e2042.95bd2","name":"","group":"ffaf5c11.b22ea","order":2,"width":0,"height":0,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":950,"y":220,"wires":[[]]},{"id":"85b33c67.de09a8","type":"ui_chart","z":"171e2042.95bd2","name":"","group":"ffaf5c11.b22ea","order":4,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":180,"wires":[[]]},{"id":"ca58edab.67b148","type":"ui_text","z":"171e2042.95bd2","group":"21969134.636e3e","order":1,"width":0,"height":0,"name":"time","label":"Time of last measurement: ","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":260,"wires":[]},{"id":"806de232.86a2d8","type":"ui_chart","z":"171e2042.95bd2","name":"numberOfParticlesChart","group":"a97384.42578c8","order":1,"width":0,"height":0,"label":"Number of particles chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":460,"wires":[[]]},{"id":"e3249599.e8cd48","type":"function","z":"171e2042.95bd2","name":"NumConverter","func":"var nc0p5 = {};\nnc0p5.payload = msg.payload.nc0p5;\nnc0p5.topic = \"nc0p5\";\n\nvar nc1p0 = {};\nnc1p0.payload = msg.payload.nc1p0;\nnc1p0.topic = \"nc1p0\";\n\nvar nc2p5 = {};\nnc2p5.payload = msg.payload.nc2p5;\nnc2p5.topic = \"nc2p5\";\n\nvar nc4p0 = {};\nnc4p0.payload = msg.payload.nc4p0;\nnc4p0.topic = \"nc4p0 \";\n\nvar nc10p0 = {};\nnc10p0.payload = msg.payload.nc10p0;\nnc10p0.topic = \"nc10p0\";\n\nvar partSize = {};\npartSize.payload = msg.payload.typicalParticleSize;\npartSize.topic = \"typicalParticleSize\";\n\nreturn [nc0p5, nc1p0, nc2p5, nc4p0, nc10p0, partSize];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":740,"y":460,"wires":[["806de232.86a2d8"],["806de232.86a2d8"],["806de232.86a2d8"],["806de232.86a2d8"],["806de232.86a2d8"],["806de232.86a2d8"]]},{"id":"8be6d004.359798","type":"function","z":"171e2042.95bd2","name":"MassConverter","func":"var mc1p0 = {};\nmc1p0.payload = msg.payload.nc0p5;\nmc1p0.topic = \"mc_1p0\";\n\nvar nc2p5 = {};\nnc2p5.payload = msg.payload.nc1p0;\nnc2p5.topic = \"mc_2p5\";\n\nvar mc4p0 = {};\nmc4p0.payload = msg.payload.mc4p0;\nmc4p0.topic = \"mc_4p0\";\n\nvar mc10p0 = {};\nmc10p0.payload = msg.payload.nc10p0;\nmc10p0.topic = \"mc_10p0 \";\n\nreturn [mc1p0, nc2p5, mc4p0, mc10p0];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":360,"wires":[["f42c88d8.56977"],["f42c88d8.56977"],["f42c88d8.56977"],["f42c88d8.56977"]]},{"id":"f42c88d8.56977","type":"ui_chart","z":"171e2042.95bd2","name":"massOfParticlesChart","group":"a97384.42578c8","order":3,"width":0,"height":0,"label":"Mass of particles chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":360,"wires":[[]]},{"id":"66ed7ec8.efc858","type":"change","z":"171e2042.95bd2","name":"pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":140,"wires":[["709c54f.63b5b2c"]]},{"id":"709c54f.63b5b2c","type":"ui_text","z":"171e2042.95bd2","group":"21969134.636e3e","order":2,"width":0,"height":0,"name":"","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":140,"wires":[]},{"id":"4d17d334.72dbc4","type":"mqtt in","z":"171e2042.95bd2","name":"","topic":"esp32/log","qos":"2","datatype":"auto","broker":"584ce65.9042018","inputs":0,"x":240,"y":140,"wires":[["a8bd5bbd.07e85"]]},{"id":"a8bd5bbd.07e85","type":"debug","z":"171e2042.95bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"14c02a3b.83fb06","type":"debug","z":"171e2042.95bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"8bf48eb2.4322","type":"mqtt in","z":"171e2042.95bd2","name":"","topic":"esp32/report","qos":"2","datatype":"auto","broker":"584ce65.9042018","inputs":0,"x":250,"y":200,"wires":[["14c02a3b.83fb06"]]},{"id":"576ceff6.b8397","type":"change","z":"171e2042.95bd2","name":"gasResistance","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.gasResistance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["c20462f0.6ddf4"]]},{"id":"c20462f0.6ddf4","type":"ui_chart","z":"171e2042.95bd2","name":"gas","group":"ffaf5c11.b22ea","order":1,"width":0,"height":0,"label":"gas resistance:","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":100,"wires":[[]]},{"id":"584ce65.9042018","type":"mqtt-broker","name":"test","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21969134.636e3e","type":"ui_group","name":"Other","tab":"b78cddc6.69ebc","order":1,"disp":true,"width":10,"collapse":false},{"id":"ffaf5c11.b22ea","type":"ui_group","name":"BME680","tab":"b78cddc6.69ebc","order":3,"disp":true,"width":"10","collapse":false},{"id":"a97384.42578c8","type":"ui_group","name":"SPS30","tab":"b78cddc6.69ebc","order":2,"disp":true,"width":10,"collapse":false},{"id":"b78cddc6.69ebc","type":"ui_tab","name":"test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]